.overall {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--base-light);
  box-sizing: border-box;
  padding: 24px;
  gap: 20px;
}
.overall-first {
  flex: 3;
}
.overall-second {
  flex: 1;
}
.overall-info-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-bottom: 20px;
  gap: 24px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px rgba(56, 65, 74, 0.1);
}
.card-title {
  font-size: 16px;
  font-weight: var(--medium);
  line-height: 24px;
  color: var(--base-dark);
  letter-spacing: 0.1px;
  margin: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-info {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-top: 12px;
  border-top: 1px solid var(--base-light);
}

.card-info:first-of-type {
  border: none;
  padding-top: 0;
}
.card-info .card-info-title {
  width: 126px;
  flex-shrink: 0;
  font-size: var(--m);
  font-weight: var(--medium);
  line-height: var(--ln-m);
  color: var(--base-muted);
}
.card-info .card-info-text {
  font-size: var(--m);
  font-weight: var(--regular);
  line-height: var(--ln-m);
  color: var(--base-gray);
}

.card-info-mark {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: var(--green-back);
  color: var(--green);
}
.card-info-label {
  font-size: 12px;
  font-weight: var(--semibold);
  line-height: var(--ln-s);
}
.card-info-icon {
  width: 14px;
  height: 14px;
}
.overall-comment-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px rgba(56, 65, 74, 0.1);
}
.comment-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--base-light);
  gap: 20px;
}
.comment-info {
  display: flex;
  flex-direction: column;
}
.comment-info:nth-of-type(2) {
  margin-left: 44px;
}
.comment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 4px;
}
.comment-photo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.comment-info-name {
  font-size: var(--m);
  font-weight: var(--semibold);
  line-height: var(--ln-m);
  color: var(--base-gray);
}
.comment-info-date {
  font-size: 12px;
  font-weight: var(--regular);
  line-height: var(--ln-s);
  color: var(--base-muted);
}
.comment-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 44px;
}
.comment-info-text {
  font-size: var(--m);
  font-weight: var(--regular);
  line-height: var(--ln-m);
  color: var(--base-gray);
}
.comment-reply {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 64px;
  padding: 2px 0;
  gap: 2px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--base-light);
}
.reply-icon {
  width: 12px;
  height: 12px;
}
.reply-text {
  font-size: 12px;
  font-weight: var(--semibold);
  line-height: var(--ln-s);
  color: var(--base-muted);
}
.reply-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.reply-title {
  font-size: 14px;
  font-weight: var(--medium);
  line-height: 21px;
  color: var(--base-gray);
  margin: 0;
}
.reply-textarea {
  font-family: "Poppins", "sans-serif";
  font-size: 14px;
  font-weight: var(--regular);
  line-height: 24px;
  color: var(--base-muted);
  height: 128px;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  background-color: var(--base-light);
}
.reply-textarea:focus {
  outline: none;
}
.reply-button {
  width: 143px;
  height: 44px;
  align-self: flex-end;
  color: var(--white);
  background-color: var(--purple-600);
  border: none;
  border-radius: 6px;
}
.overall-gallery-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-bottom: 12px;
  gap: 12px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px rgba(56, 65, 74, 0.1);
}
.gallery-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.plus-icon-span {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--purple-50);
}
.plus-icon {
  width: 11.67px;
  height: 11.67px;
}
.gallery-big-img {
  min-width: 350px;
  height: 196px;
  object-fit: cover;
  border-radius: 8px;
}
.gallery-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
}
.gallery-slide-back {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-50);
}
.gallery-slide-forward {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-50);
}
.arrow-right-icon {
  height: 12px;
  width: 8px;
}
.arrow-left-icon {
  height: 12px;
  width: 8px;
}

.small-images {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.small-pic {
  width: 50px;
  height: 40px;
  opacity: 40%;
  border-radius: 2px;
}
.small-pic-active {
  width: 50px;
  height: 40px;
  border-radius: 2px;
}
.overall-progress-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 4px;
  margin-bottom: 24px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px rgba(56, 65, 74, 0.1);
}
.overall-map-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px rgba(56, 65, 74, 0.1);
}
.map-photo {
  min-width: 350px;
  height: 267px;
  object-fit: cover;
  border-radius: 8px;
}
.location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.location-icon {
  width: 20px;
  height: 20px;
}
.location-adress {
  font-size: var(--m);
  font-weight: var(--regular);
  line-height: var(--ln-m);
  color: var(--base-dark);
}
